body{
    text-align: center;
    align-items: center;
    padding-top: 30%;
    background-color: rgb(58, 97, 98);
}
div{
    width: 100%;
    height: 40%;
    background-color: rgb(252, 255, 255);
    border-radius: 15px;
    columns: rgb(58, 97, 98);
}
h1{
    font-family: cursive, Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border: 1px solid black;
    width: 50%;
    border-radius: 15px;
    height: 50px;
    margin: 20px;
}
button{
    background-color: rgb(58, 97, 98);
    color: white;
    font-family: cursive;
    font-size: large;
    width: 30%;
    border-radius: 15px;
    height: 50px;
    margin: 20px;
}
